*{
    font-family: 'Baloo Tammudu 2', cursive;
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.chat{
  
    width: 360px;
    height:500px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: #fdcb6e;
    
}


.chat-header{
     text-align: center;
     background-color: #8e44ad;
     font-size: 24px;
     padding:10px;
     color:white;
     font-weight: bold;
}


.chat-window{
     
     height: 348px;
     width:100%;
     overflow-y:scroll;
}


#nameForm{
    background-color: white;
     max-width: 220px;
     position: absolute;
     top:50%;
     left: 50%;
     transform:translate(-50%,-50%);
     padding:25px;
     box-shadow: 0.3px 0.3px 5px rgba(0,0,0,.2);
     animation: modalUp .7s .3s forwards;
}


#inputName{
     border: none;
     padding:4px;
     width: 150px;
     border-bottom:1px solid;
     outline:none;
}


#nameInputbtn{
     width: 100%;
     padding:6px;
     border:none;
     background-color: #8e44ad;
     margin-top:8px;
     color:white;
     outline:none;
     cursor:pointer;

}

#message-form{
     background-color: #8e44ad;
     position: absolute;
     bottom: 0;
     width: 100%;
     padding:15px;
}

#message-input{
    padding:7px;
    border-radius: 20px;
    border:0;
    width:70%;
    outline:none;
    margin-right: 10px;
}


#message-btn{
     width:20%;
     padding:10px;
     border-radius: 20px;
     cursor: pointer;
     background-color: white;
     border:none;
     outline:none;
}

.msg{
     list-style-type: none;
}


span{
     background-color: white;
     display: inline-block;
     padding:10px;
     border-radius: 20px;
     font-size:13px;
     text-align: left;
     margin: 5px 5px 5px 10px;
     box-shadow: 0.2px 0.3px 2px rgba(0,0,0,0.3);
}

i{
    font-weight: bold;
}

.my{
     text-align: right;
}

.my span{
     background-color: #8e44ad;
     color: white;
}

.my i{
     display: none;
}




#chat-window::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#chat-window::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#chat-window::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #8e44ad;
}


@keyframes modalUp{
     from {
         top:100%;
         opacity: 0;
     }
     to{
          top:50%;
          opacity: 1;
     }
}

.btn {
    background-color: #8e44ad;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    float:right;
    border:none;
    outline:none;
  }
  
  /* Darker background on mouse-over */
